<div id="reepay-api-control">
</div>

<script type="text/javascript"><!--
    $.get('index.php?route=extension/payment/reepay_checkout/control&order_id={{ order_id }}&user_token={{ user_token }}',
     function( data ) {
            $('#reepay-api-control').html(data);
     });
    //-->
</script>