<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://checkout.reepay.com/checkout.js"></script>
</head>
<body>

</body>

<script type="text/javascript">

    var rp = new Reepay.ModalCheckout('{{ charge_session_id }}');

    rp.addEventHandler(Reepay.Event.Accept, function(data) {
        console.log(data);
        window.location.href = '{{ accept_url }}&invoice=' + data.invoice + '&' + 'id=' + data.id + '&' + 'customer=' + data.customer;
    });

    rp.addEventHandler(Reepay.Event.Cancel, function(data) {
        console.log('Success', data);
        window.location.href = '{{ cancel_url }}&invoice=' + data.invoice + '&' + 'id=' + data.id + '&' + 'customer=' + data.customer;

    });

</script>

</html>